@import '../../index.scss';

.venue {

  background: $purple;

  &-body {
    position: relative;
    display: flex;
    width: 100%;
    max-width: $maxWidth;
    flex-wrap: wrap;
    margin: auto;

    &-map {
      width: 33.33%;
      min-height: 50vh;
      background: $red;
      background-image: url('../../assets/images/alloy-map.png');
      background-position: center;
      background-size: cover;
    }

    &-text {
      width: calc(66.66% - 4rem);
      padding: 0 2rem;
      color: white;
    }
  }
}

@media (max-width: $minWidth) {
  .venue {
    &-body {
      &-map {
        width: 100%;
      }

      &-text {
        width: 100%;
      }
    }
  }
}