@import '../../index.scss';

.artist {
  background: $purple;
  &-body {
    position: relative;
    display: flex;
    width: 100%;
    max-width: $maxWidth;
    flex-wrap: wrap;
    margin: auto;

    &-photo, &-text {
      width: 50%;
    }

    &-photo {
      min-height: 50vh;
      background: $red;
      background-image: url('../../assets/images/jen-stark.png');
      background-position: center;
      background-size: cover;
    }

    &-text {
      background: $purple;
      color: white;
      h2 {
        padding: 1rem 2rem;
        margin: 0;
      }
      p {
        padding: .25rem 2rem;
      }
    }
  }
}

@media (max-width: $minWidth ) {
  .artist {
    &-body {
      & > * {
        width: 100%;
      }
    }
  }
}