@import '../../index.scss';

.opportunities {
  background: url('../../assets/images/background3.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  padding: 4rem;
  
  &-body {
    width: calc(100% - 8rem);
    max-width: calc($maxWidth - 4rem);
    padding: 1rem 2rem;
    margin: auto;
    background-color: rgba(0, 0, 0, .8);
    h1, h2, p {
      text-align: center;
    }
    h1 {
      font-size: 6rem !important;
    }

    &-levels {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;

      &-level {
        width: 33.33%;
        margin: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
          margin: 0;
          font-size: 4rem;
          text-align: center;
        }
        p {
          font-size: 1.5rem;
        }

        .email-button {
          background: $purple;
          color: white;
          font-family: 'Warsaw Gothic';
          font-size: 3rem;
          border: none;
          padding: .5rem 3rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: $minWidth ) {
  .opportunities {
    padding: 0;

    &-body {
      & * {
        width: 100%;
      }
    }
  }
}