@import '../../index.scss';

.opportunities {
  background: url('../../assets/images/background1.png');
  background-position: center;
  background-size: cover;
  color: white;
  
  &-body {
    width: calc(100% - 8rem);
    max-width: calc($maxWidth - 4rem);
    padding: 1rem 2rem;
    margin: auto;
    background-color: rgba(0, 0, 0, .8);
    h1, h2, p {
      text-align: center;
    }
    h1 {
      font-size: 6rem !important;
    }

    &-levels {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-level {
        width: 33.33%;
        margin: 1rem;
        
        h3 {
          margin: 0;
          font-size: 2rem;
          text-align: center;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
}

@media (max-width: $minWidth ) {
  .opportunities {
    &-body {
      & * {
        width: 100%;
      }
    }
  }
}