.preloader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 7rem;
  color: white;
  font-family: 'Warsaw Gothic';
  font-size: 4rem;
}

.scene {
  height: calc(100vh - 10rem) !important;
}