@import '../../index.scss';

.experience {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  background: white;
  color: $blue;

  &-body {
    max-width: $maxWidth;
    margin: auto;
    h2 {
      margin: 0;
    }

    .drip {
      position: absolute;
      top: 0;
      right: 0;
      width: 20vw;

      transform: translateY(-20vw);
      transition: transform 1s;

      &.active {
        transform: translateY(0);
      }
    }
  }
}