// Colors

$blue: rgb(82, 146, 255);
$red: rgb(254, 56, 50);
$orange: rgb(255, 102, 35);
$green: rgb(67, 196, 154);
$purple: rgb(103, 37, 234);
$yellow: rgb(255, 221, 9);

.yellow { color: $yellow; }

.back-blue { background: $blue; }
.back-red { background: $red; }
.back-orange { background: $orange; }
.back-green { background: $green; }
.back-purple { background: $purple; }

@font-face {
  font-family: 'Akshar';
  src: url('assets/fonts/Akshar-VariableFont_wght.ttf');
}

html, body, #root, .app {
  width: 100%;
  padding: 0;
  margin: 0;
  background: black;
  font-size: 16px;

  * {
    font-family: 'Akshar';
    font-weight: 500;
  }

  h1 {
    // font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h1, h2    {
    text-transform: uppercase;
  }

  
  .map {
    position: absolute;
    right: 0;
    bottom: 7rem;
    width: 8rem;
    height: 6rem;
    padding: 0;
    margin: 1rem;
  }

  .debug {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
}