@import '../../index.scss';

.nav {
  display: flex;
  // height: 20rem;
  flex-direction: row;
  flex-wrap: wrap;
  background: #020202;
  color: white;

  &-title, &-links {
    width: 50%;
  }

  &-title {
    display: flex;
    height: 20rem;
    background-color: $blue;
    font-size: 2rem;
    span {
      display: block;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
  }

}

@media screen and (max-width: 720px ) {
  .nav {
    // flex-wrap: wrap;
    & > * {
      width: 100%;
    }

    &-links {
      a {
        padding: 1rem;
      }
    }
  }
}