@import '../../index.scss';

.nav {
  display: flex;
  // height: 20rem;
  flex-direction: row;
  flex-wrap: wrap;
  background: #020202;
  color: white;

  & > * {
    font-family: 'Warsaw Gothic';
  }

  &-title, &-links {
    width: 50%;
  }

  &-title {
    // display: flex;
    height: auto;
    // flex-direction: column;
    background-color: $blue;
    font-size: 2.5rem;
    span {
      display: block;
      padding: 0 2rem;
      line-height: 4.5rem;

      white-space: nowrap;
      &:first-child {
        font-size: 5rem;
        line-height: 5rem;
      }
    }
  }

  &-links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 2rem;
      // justify-content: center;
      cursor: pointer;
      font-size: 4rem;
      text-transform: uppercase;
    }
  }

}

@media screen and (max-width: 720px ) {
  .nav {
    // flex-wrap: wrap;
    & > * {
      width: 100%;
    }

    &-links {
      a {
        padding: 1rem;
      }
    }
  }
}